*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f5f7fb;
}

.admin-dashboard{
padding:35px;
min-height:100vh;
background:#eef3fb;
}

.admin-navbar{

display:flex;
justify-content:space-between;
align-items:center;

background:#fff;
padding:20px 35px;

border-radius:18px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

margin-bottom:35px;

}

.admin-user{
display:flex;
align-items:center;
gap:15px;
}

.admin-user button{

padding:10px 22px;

border:none;

border-radius:8px;

background:#2563eb;

color:#fff;

cursor:pointer;

}

.dashboard-cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

margin-bottom:40px;

}

.card{

background:#fff;

padding:30px;

border-radius:18px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.card h3{

color:#666;

margin-bottom:15px;

}

.card h1{

font-size:42px;

}

.blue{
border-left:6px solid #2563eb;
}

.green{
border-left:6px solid #16a34a;
}

.orange{
border-left:6px solid #f59e0b;
}

.red{
border-left:6px solid #ef4444;
}

.table-section{

background:#fff;

padding:30px;

border-radius:18px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

table{

width:100%;

border-collapse:collapse;

margin-top:20px;

}

th,td{

padding:16px;

text-align:left;

border-bottom:1px solid #eee;

}

th{

background:#2563eb;

color:#fff;

}

tr:hover{

background:#f8fafc;

}